body{
    background: linear-gradient(to right, #bdc3c7, #2c3e50)
}
#backimage{
    padding-top: 300px;
    background-image: url("image/547267.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#answer-box .card{
    flex-direction: row;
    margin-top: 30px;
}
#answer-box .card img{
    border-radius: 8px;
    width: 160px;
}
@media only screen and (max-width:768px){
    #backimage{
        background-image: url("image/2840454.jpg");
    }
}